<div class="main-content">
  <form action="/orders/checkout/payment" method="POST">
    <section>
      <p class="title">付款資訊</p>

      <div class="form-group receipt">
        <span>發票</span>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="receipt" id="personal-receipt" value="1">
          <label class="form-check-label" for="personal-receipt">
            <span>個人電子發票（中獎會主動掛號寄出）</span>
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="receipt" id="donate" value="2">
          <label class="form-check-label" for="donate">
            <span>捐贈</span>
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="receipt" id="company-receipt" value="3">
          <label class="form-check-label" for="company-receipt">
            <span>公司三聯式發票</span>
          </label>
        </div>
      </div>

      <div class="form-group store">
        <select class="form-control custom-select-sm" name="store">
          <option value="" selected>門市（選擇到店自取才需填寫）</option>
          <option value="台北旗艦店">台北旗艦店</option>
          <option value="台中旗艦店">台中旗艦店</option>
          <option value="高雄旗艦店">高雄旗艦店</option>
        </select>
      </div>

      <div class="form-group note">
        <textarea name="note" rows="3" maxlength="50" placeholder="備註"></textarea>
      </div>
    </section>

    <section>
      <p class="title">付款方式</p>
      <div class="form-group payment-way">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="payment" id="credit-card" value="1">
          <label class="form-check-label" for="credit-card">
            <span>信用卡付款</span>
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="payment" id="ATM" value="2">
          <label class="form-check-label" for="ATM">
            <span>ATM 轉帳付款</span>
          </label>
        </div>
      </div>
    </section>

    <div class="border-top">
      <button type="submit" class="btn btn-action w-25">
        <span>下一步</span>
      </button>
    </div>
  </form>
</div>