<div class="main-content">
  <form action="/orders" method="POST">
    {{> shippingInfo}}
    {{> paymentInfo}}

    <section class="panel">
      <p class="title">備註</p>
      <div class="note">
        <ul>
          <li>{{note}}</li>
        </ul>
      </div>
    </section>

    <div class="border-top">
      <button type="submit" class="btn btn-action w-25">
        <span>成立訂單</span>
      </button>
    </div>
  </form>
</div>