<div class="main-content">
  <form action="/orders" method="POST">
    {{> shippingInfo}}
    {{> paymentInfo}}

    {{#isFalsey sn}}
      <div class="border-top">
        <button type="submit" class="btn btn-action w-25">
          <span>成立訂單</span>
        </button>
      </div>
    {{/isFalsey}}
  </form>
</div>