<div class="expected-cost border-bottom">
  <div class="items amount">
    <span>購物車總計</span>
    <span>
      {{currency subTotal}}
    </span>
  </div>
  <div class="shipping-fee amount">
    <span>配送資訊</span>
    <span>
      {{currency shippingFee}}
    </span>
  </div>
  <p class="total amount font-weight-bold">
    <span>訂單金額</span>
    <span>
      {{currency totalAmount}}
    </span>
  </p>
</div>