{{#if errorMessage}}
<div class="alert alert-danger mx-auto" role="alert">
  ✘ {{errorMessage}}
</div>
{{/if}}

{{#if successMessage}}
<div class="alert alert-success mx-auto" role="alert">
  ✔ {{successMessage}}
</div>
{{/if}}

{{#if errors}}
<ul class="alert alert-danger mx-auto" role="alert">
  {{#each errors}}
  <li>✘ {{this.message}}</li>
  {{/each}}
</ul>
{{/if}}