<section class="panel">
  <p class="title">付款資訊</p>
  <div class="payment">
    <ul>
      <li>{{receiptToMandarin receipt}}</li>
      <li>{{paymentToMandarin payment}}</li>
    </ul>
  </div>
</section>