<section class="panel">
  <p class="title">付款資訊</p>
  <div class="payment">
    <ul>
      <li class="mb-2">{{receiptToMandarin receipt}}</li>
      <li>{{paymentToMandarin payment}}</li>
    </ul>
  </div>

  <p class="title mt-3">備註</p>
  <div class="note">
    <ul>
      <li>
        {{#if note}}
          {{note}}
        {{else}}
          無
        {{/if}}
      </li>
    </ul>
  </div>
</section>