<section class="panel">
  <p class="title border-bottom-0 pb-0">配送資訊</p>
  <div class="delivery">
    <ul>
      <li>{{receiveName}}</li>
      <li>{{receiveCountry}}</li>
      <li>{{receiveAddress}}</li>
      <li>{{receivePhone}}</li>
      <li>{{#shippingWayToMandarin shippingWay}}{{/shippingWayToMandarin}}</li>
    </ul>
  </div>
</section>