<div class="shipping-methods">
  {{#each shippingMethods}}
  <div class="form-check">
    <input class="form-check-input" type="radio" name="shippingWay" value={{@key}} id={{@key}}
      {{#eq @key ../shippingWay}} checked {{/eq}}>
    <label class="form-check-label" for="{{@key}}">
      {{#each this}}
      <span>
        {{#currency this}}
        {{/currency}}
      </span>
      {{/each}}
    </label>
  </div>
  {{/each}}
</div>