<div class="col-12">
  <div class="panel">
    <h4 class="">訂單已成立。</h4>
    <p>
      <span>訂單內容發送至 {{order.email}}，訂單編號為 {{order.sn}}。</span>
      <span>訂單成立日期 {{order.createdAt}}</span>
    </p>
    <div>
      <a href="/products" class="btn">繼續購物</a>
      <a href="/orders/{{order.id}}/payment" class="btn">立即付款</a>
    </div>
  </div>
</div>