<div class="my-5" id="not_found">
  <div class="card col-md-8 mx-auto text-center border-0">
    <h3>Oops! Page not found</h3>
    <h1 class="display-1 text-danger">404</h1>
    <h3>we are sorry, but the page you requested was not found</h3>
  </div>
</div>