<p class="page title border-0">確認頁</p>

<div class="row checkout">
  <main class="col-lg-8">

    {{#if (eq page 'checkoutShipping')}}
    {{> checkoutShipping}}
    {{/if}}

    {{#if (eq page 'checkoutPayment')}}
    {{> checkoutPayment}}
    {{/if}}
  </main>

  <aside class="info col-lg-4">
    {{> orderInfo}}

    {{#if (eq page 'checkoutPayment')}}
    {{> shippingInfo}}
    {{/if}}

  </aside>
</div>