<p class="page title border-0">確認頁</p>

<div class="row checkout">

  {{#eq order.status '1'}}
  {{> successOrder}}
  {{/eq}}

  <main class="col-lg-8">

    {{#eq page 'checkoutShipping'}}
    {{> checkoutShipping}}
    {{/eq}}

    {{#eq page 'checkoutPayment'}}
    {{> checkoutPayment}}
    {{/eq}}

    {{#eq page 'checkoutOrder'}}
    {{> checkoutOrder}}
    {{/eq}}

  </main>

  <aside class="info col-lg-4">
    {{> orderInfo}}

    {{#eq page 'checkoutPayment'}}
    {{> shippingInfo}}
    {{/eq}}

  </aside>
</div>