<p class="page title border-0">確認頁</p>

<div class="row checkout">

  {{#isTruthy sn}}
    {{> orderSuccess}}
  {{/isTruthy}}

  <main class="main col-lg-8">

    {{#eq page 'checkoutShipping'}}
      {{> checkoutShipping}}
    {{/eq}}

    {{#eq page 'checkoutPayment'}}
      {{> checkoutPayment}}
    {{/eq}}

    {{#eq page 'checkoutFinal'}}
      {{> checkoutFinal}}
    {{/eq}}

  </main>

  <aside class="info col-lg-4">
    {{> orderInfo}}

    {{#eq page 'checkoutPayment'}}
      {{> shippingInfo}}
    {{/eq}}

  </aside>
</div>