<p class="page title border-0">確認頁</p>

<div class="row checkout">
  <main class="col-lg-8">
    {{> checkoutShipping}}
  </main>

  <aside class="info col-lg-4">
    <section class="panel">
      <p class="title border-bottom-0 pb-0">訂單資訊</p>
      <div>
        {{> minicartItem}}
        {{> expectedCost}}
      </div>
    </section>
  </aside>
</div>