.qty-field {
  width: 2.5rem;
}

.qty-field input {
  width: 100%;
  height: 100%;
  text-align: center;
}

.qty-change form {
  line-height: 0;
}

.qty-change button {
  padding: 0 .5rem;
  border-radius: 0;
}
