html, 
body {
  margin: 0;
  height: 100%;
}

a {
  font-size: 1rem;
  color: #5b5b5f
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

button {
  background-color: #cccccc;
  color: #5b5b5f;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 1.5rem;
}

.table td,
.table th {
  vertical-align: middle; 
}

/* header */
header {
  height: 100px;
  background: #fff;
}

/* main */
#data-panel {
  margin: 100px 0;
  width: 1280px;
  max-width: 1280px;
}

input[type="text"],
input[type="number"] {
  background: #ffffff;
  border: .5px solid #cccccc;
  -moz-appearance:textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-action {
  margin-top: .75rem;
  padding: .5rem;
  border: 0;
  background-color: #ECECEC;
  color: #535353;
}

.btn-action:hover {
  background-color: #4B4B4B;
  color: #F4F4F4;
}

p.title {
  border-bottom: 1px solid #DEE2E6;
  /* font-size: 1.5rem; */
  font-weight: 700;
  padding-bottom: .5rem;
}

.panel {
  padding: 1rem;
  /* margin: 1rem; */
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  height: fit-content;
  border: 1px solid #A8A8A8;
  border-radius: .3rem;
}

.amount {
  display: flex;
  justify-content: space-between;
  margin: .75rem 0;
}

.total.amount {
  font-size: 1.3rem;
}

.item-img-wrapper {
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 1px;
  display: block;
  width: 120px;
}

.wrapper {
  padding: 1rem;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
}

.price {
  font-size: 1.5rem;
  color: rgb(168, 168, 168);
  font-weight: 700;
}

.back-top {
  height: 40px;
  position: fixed;
  right: 15px;
  width: 40px;
  z-index: 9999;
  bottom: 0;
  background-color: #404040;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding: 11px 0;
  /* display: none; */
  border-radius: 5px 5px 0 0;
}

.back-top:hover {
  color: #fff;
  background: rgba(64, 64, 64, .9);
}

/* footer */
.footer-item {
  display: inline;
}

footer .fa-github-square {
  font-size: 2.5rem;
}

/* minicart */
#minicart .item-img-wrapper {
  width: 70px;
}

#minicart span.toggle:hover {
  cursor: pointer;
}

#minicart span.toggle::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f107";
}

#minicart span.toggle.collapsed::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f106";
}

/* custom-control */
.custom-control.custom-radio {
  margin-bottom: .5rem;
}