input[type="text"],
input[type=number] {
  background: #ffffff;
  border: .5px solid #cccccc;
  -moz-appearance:textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* =============== Products =============== */
.product {
  padding: 0 .5rem;
}

.product-imgs img[class*="color-option"] {
  display: none;
}

.product-imgs img.selected {
  display: block;
}

.product-info {
  text-align: center;
}

.product-name a {
  font-size: 14px;
  color: #5b5b5f
}

.product-price {
  font-size: 18px;
}

/* =============== Product =============== */

/* attribute options */
#product #content .info .attribute-options a {
  text-decoration:none;
}

/* action */
.calc-quantity .quantity {
  font-size: 1rem;
  width: 45px;
  margin: 0;
  text-align: center;
}

.quantity-plus,
.quantity-minus {
  background: #ffffff;
  border: .3px solid #cccccc;
  padding: .2rem;
  width: 30px;
  text-align: center;
  text-decoration:none!important;
}

#product-addtocart-button {
  background-color: #000000;
  border-color: #cccccc;
  color: #f5f4f4;
  font-size: 1rem;
}

#product-addtocart-button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f217";
  font-size: .75rem;
  margin-right: .5rem;
}

.gallery span,
.gallery .main img,
.size-option div {
  display: none;
}

.gallery span.selected,
.gallery .main img.selected,
.size-option div.selected {
  display: block;
}

.gallery img:hover {
  cursor: pointer;
}

/* =============== Cart =============== */

.table td,
.table th {
  vertical-align: middle; 
}

.item-image-container {
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 1px;
  display: block;
  width: 165px;
}

.page-title,
.item-details-name a{
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
  color: #A8A8A8;
}

.quantity-field {
  width: 2.5rem;
}

.quantity-field input {
  width: 100%;
  height: 100%;
  text-align: center;
}

.quantity-change form {
  line-height: 0;
}

.quantity-change button {
  padding: 0 .5rem;
  border-radius: 0;
}