/* =============== * =============== */
html, 
body {
  margin: 0;
  height: 100%;
}

header {
  height: 100px;
  background: #fff;
}

#data-panel {
  margin: 100px 0;
  width: 1280px;
  max-width: 1280px;
}

a {
  font-size: 1.3rem;
  color: #5b5b5f
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}

button {
  background-color: #cccccc;
  color: #5b5b5f;
}

button:focus {
  outline: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-right: 1.5rem;
}


/* =============== common =============== */
input[type="text"],
input[type="number"] {
  background: #ffffff;
  border: .5px solid #cccccc;
  -moz-appearance:textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-action {
  margin-top: .75rem;
  padding: .5rem;
  border: 0;
  background-color: #ECECEC;
  color: #535353;
}

.btn-action:hover {
  background-color: #4B4B4B;
  color: #F4F4F4;
}

p.title {
  border-bottom: 1px solid #DEE2E6;
  /* font-size: 1.5rem; */
  font-weight: 700;
}

.panel {
  padding: 1rem;
  /* margin: 1rem; */
  margin-bottom: 1rem;
  background-color: #f5f5f5;
  height: fit-content;
  border: 1px solid #A8A8A8;
  border-radius: .3rem;
}

.amount {
  display: flex;
  justify-content: space-between;
  margin: .75rem 0;
}

.item-img-wrapper {
  border: 1px solid rgba(204, 204, 204, 1);
  padding: 1px;
  display: block;
  width: 165px;
}

.item-detail-name a{
  text-decoration: none;
  color: #A8A8A8;
}

.wrapper {
  padding: 1rem;
}

/* =============== Products =============== */
.product-img img[class*="color-option"] {
  display: none;
}

.product-img img.selected {
  display: block;
}

/* =============== Product =============== */
/* info */
.name {
  font-size: 2rem;
  font-weight: 700;
}

.price {
  font-size: 1.5rem;
  color: rgb(168, 168, 168);
  font-weight: 700;
}

/* info attribute-options*/
.color-img-wrapper {
  display: inline-block;
  width: 25px;
  height: 25px;
  padding: 2px;
  border: 1px solid #cccccc;
}

.color-img-wrapper img {
  vertical-align: top;
}

.color-img-wrapper.selected {
  border: 1px solid #000000
}

.size-option button.selected {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

/* info action*/
.calc-quantity .quantity {
  font-size: 1rem;
  width: 45px;
  margin: 0;
  text-align: center;
}

.quantity-plus,
.quantity-minus {
  background: #ffffff;
  border: .3px solid #cccccc;
  padding: .2rem;
  width: 30px;
  text-align: center;
  text-decoration:none!important;
}

#addtocart-button {
  background-color: #343a40;
  color: #fff;
  font-size: 1rem;
}

#addtocart-button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f217";
  font-size: .75rem;
  margin-right: .5rem;
}

/* gallery */
.gallery span,
.gallery .main img,
.size-option div {
  display: none;
}

.gallery span.selected,
.gallery .main img.selected,
.size-option div.selected {
  display: block;
}

.gallery img:hover {
  cursor: pointer;
}

.gallery .main span {
  width: 450px; 
}

.gallery .nav-wrap span {
  padding: .5rem 2rem;
}

.gallery .nav-wrap img.selected {
  border: 1px solid #000000;
}





/* =============== Cart =============== */

.table td,
.table th {
  vertical-align: middle; 
}

.item-detail-name a{
  text-decoration: none;
  font-weight: 300;
  font-size: 1.2rem;
  color: #A8A8A8;
}

.quantity-field {
  width: 2.5rem;
}

.quantity-field input {
  width: 100%;
  height: 100%;
  text-align: center;
}

.quantity-change form {
  line-height: 0;
}

.quantity-change button {
  padding: 0 .5rem;
  border-radius: 0;
}

/* 右側 */
.cart .table-container {
  padding: 2rem;
}

.cart .table-container table {
  border-bottom: 1px solid #A8A8A8;
}

.cart .shipping-summary {
  padding: 2.7rem 1.2rem;
  background-color: #fbfbfb;
  height: fit-content;
  border: 1px solid #A8A8A8;
}

.cart .shipping-summary .title {
  margin-bottom: .75rem;
}

.cart .shipping-summary .info {
  padding: .75rem 0;
  border-top: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;
}

.cart .shipping-summary .info .check {
  border-bottom: 1px solid #DEE2E6;
}

.cart .shipping-summary .form-check {
  margin: .75rem 0;
}

.cart .shipping-summary .products-amount,
.cart .shipping-summary .shipping-fee {
  display: flex;
  justify-content: space-between;
  margin: .75rem 0;
}

.cart .shipping-summary .total-amount {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: .75rem;
  padding-top: .75rem;
  border-top: 1px solid #DEE2E6;
}

/* =============== Order =============== */
#order .action span{
  line-height: 3rem;
}

#order .action button {
  vertical-align: baseline;
}

#order .action a,
#order .action button{
  color: #a8a8a8;
}

#order .action a:hover,
#order .action button:hover{
  color: #000000;
}

/* =============== minicart =============== */

#minicart .item-img-wrapper {
  width: 70px;
}

#minicart span.toggle:hover {
  cursor: pointer;
}

#minicart span.toggle::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f107";
}

#minicart span.toggle.collapsed::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f106";
}

/* =============== footer =============== */
.footer-item {
  display: inline;
}

footer .fa-github-square {
  font-size: 2.5rem;
}

.back-top {
  height: 40px;
  position: fixed;
  right: 15px;
  width: 40px;
  z-index: 9999;
  bottom: 0;
  background-color: #404040;
  font-size: 16px;
  color: #fff;
  text-align: center;
  line-height: 1;
  padding: 11px 0;
  /* display: none; */
  border-radius: 5px 5px 0 0;
}

.back-top:hover {
  color: #fff;
  background: rgba(64, 64, 64, .9);
}